body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#text {
  font-size: 5vw;
}

#new-game-options {
  position:absolute;
  background:white;
  width:100vw;
  height:100vh;
  font-size:5vw;
  user-select: none;
}

#new-game-options input {
  font-size:5vw;
}

#inputs input {
  height: 25vh;
  font-size: 8vw;
}

#inputs input[type="submit"] {
  aspect-ratio: 1;
}

#letters {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
}

#letters button {
  align-items: center;
  display: flex;
  transition: 300ms;
  aspect-ratio: 1;
  justify-content: center;
  font-size: 8vw;
  font-family: monospace;
}
#letters button:hover {
  background: #aaa;
}
#letters button:disabled {
  background: #aaa;
  cursor: auto;
}

#found {
  font-size: 5vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#found li {
  border: rgb(141, 141, 141) 1px solid;
  border-radius: 0.5em;
  padding: 1em;
}
